<style>
	
/* Style the header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 5px;
  background-color: #063970;
  text-decoration: none;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.content {
	margin-top: 20px;
	margin-left: 15px;
	margin-right: 15px;
	text-decoration: none;
}
/* Style the header image */
.header img {
  height: 50px;
  margin-right: 10px;
}

.accordion-item {
  border: 1px solid #ddd;
  margin-bottom: 10px;
  text-decoration: none;
}

.accordion-header {
  background-color: #92C7F7;
  padding: 10px;
  cursor: pointer;
  align-items: center;
  padding: 5px 12px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  
}

.accordion-header-b {
  background-color: #85FC05;
  padding: 10px;
  cursor: pointer;
  align-items: center;
  padding: 5px 12px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  
}

.accordion-header-c {
  background-color: #FEE650;
  padding: 10px;
  cursor: pointer;
  align-items: center;
  padding: 5px 12px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  
}

.accordion-content {
  display: none;
  padding: 10px;
  font-size: 12px;
  text-decoration: none;
}

.accordion-content h5 {
  text-decoration: none;
}

.accordion-content a {
  text-decoration: none;
}

.accordion-content ul li a {
  text-decoration: none;
}
.sub-accordion-item {
  margin-bottom: 5px;
  text-decoration: none;
}

.sub-accordion-header {
  background-color: #8FFFF0;
  padding: 5px;
  cursor: pointer;
  text-decoration: none;
}

.sub-accordion-content {
  display: none;
  padding: 5px;
  font-size: 11px;
  text-decoration: none;
}

.sub-accordion-content a {
  text-decoration: none;
}
.sub-accordion-content ul li a {
  text-decoration: none;
}

.nav-tabs {
  margin-top: 10px;
  text-decoration: none;
}

.tab-content {
  padding-top: 10px;
  text-decoration: none;
}

td {
	vertical-align: top;
	border: 1px;
	text-decoration: none;
}

body {
  font-family: 'CustomFont', sans-serif;
  /* Add more styling as needed */
}
/* Style the input field */
#myInput {
  width: 75%;
  padding: 12px 20px;
  border: 7px solid #063970;
  margin-top: 8px;
  text-align: center;
}

/* Style the dropdown container */

.dropdown-content {
  display: none; 
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #33F6FF;
  width: 50%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-size: 12px;
}

/* Style the dropdown items (optional) */
.dropdown-content a {
  color: black;
  padding: 12px 20px;
  text-decoration: none;
  display: block;
  border: 1;
}

/* Change color of dropdown items on hover (optional) */
.dropdown-content a:hover {
  background-color: #ddd;
}
</style>
